*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body{
    min-height: 10px;
}



header {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky 
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}


header .logo2 {
	color:black;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}


header .logo2 span {
	color: olive;

}

header.sticky .logo2 
{
    color: black;
}

header .navigation2 {
	position: relative;
	display: flex;
}

header .navigation2 li {
	margin-left: 30px;
	list-style: none;
}


header .navigation2 li a {
	color: black;
	font-weight: 300;
	text-decoration: none;
}


header .navigation2 li a:hover {
	color: olive;
}

header.sticky .navigation2 li a 
{
	color: black;
}


section
{
	padding: 120px;
}


.titletext
{
	color: #111;
	font-size: 1.8em;
	font-weight: 700;
	 animation: textanimation 2s ease;

}

@keyframes textanimation {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 0px;
    }
}


.expert .title .titleText span {
 
    color:olive;
}


.expert .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}
.expert .content .box
{
	width: 230px;
	margin: 20px;
	border: 15px solid white;
	box-shadow: 0 5px 25px olive;
}


.expert  .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.expert  .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
    

.expert  .content .box .text
{
	padding: 15px 0 5px;
}
.expert  .content .box .text h3
{
	font-weight: 700;
	color: #111;
	text-align: center;
	background-color: white;
}


.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
}

