*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', sans-serif;
	scroll-behavior: smooth;
}

p { 
	font-weight: 300;
	color: :#111;
 }

body{
	min-height: 10px;
}

 .banner {

 	position: relative;
 	width: 100%;
 	min-height: 100vh;
 	display: flex;
 	justify-content:center;
 	align-items:center;
 	background: url(../photo/it.jpg);
 	background-size: cover;
 	animation-name: example;
  animation-duration: 8s;
 }
	

@keyframes example {
  30% {background: url(../photo/p4.jpg);
  background-size: cover;}
 50% {background: url(../photo/fe.jpg);
  	background-size: cover;}
  	 80% {background: url(../photo/img1.jpg);
  	background-size: cover;}
  	 100% {background: url(../photo/it.jpg);
  	background-size: cover;}
}



 .banner .content {
 	max-width: 1000px;
 	text-align: center;
 	
 }

 .banner .content h2 {
    font-size: 2.5em;
    color:olive ; 
    padding-top: 1em;
  

}



 .submit{
      width: 40%;
      background: none;
      padding: 4px;
      outline: none;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 35px;
      text-align: center;
      cursor: pointer;
      letter-spacing: 2px;
      margin-left: 0%;
      border:1px solid olive;
      color: olive;
     }

     .submit:hover{
      border: 1px olive;
      color: olive;
      cursor: pointer;
     }

header {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky 
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo {
	color:white;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}

header .logo2 {
	color:black;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}


header.sticky .logo 
{
    color: #111;
}


header .logo span {
	color: olive;

}

header .navigation {
	position: relative;
	display: flex;
}

header .navigation li {
	margin-left: 30px;
	list-style: none;
}

header .navigation li a {
	color: white;
	font-weight: 300;
	text-decoration: none;
}
header.sticky .navigation li a 
{
	color: #111;
}
header .navigation li a:hover {
	color: olive;
}

section
{
	padding: 120px;
}

.row 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50
{
	position: center;
	width: 100%;
}

.row .col50 .imgBx
{
	position: relative;
	width: 100%;
	height: 100%;
	

}

.row .col50 .imgBx img
{
	position: relative;
	top: 0;
	left: 0;
	text-align: right;
	width: 90%;
	padding-right: 10px;
	object-fit: cover;
}

.titletext
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

